body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#puzzle-container {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);
    gap: 2px;
    margin: 0 auto;
    width: 408px;
}

.puzzle-piece {
    width: 100px;
    height: 100px;
    background-size: 400px 400px;
    background-image: url('https://i.ibb.co/6HBd2Ft/EIGHT.png'); /* 使用更新的图片链接 */
    cursor: pointer;
    position: relative;
}

button {
    margin-top: 20px;
}
